<!-- VISTA: Maintenance/Customer.cshtml -->
@model Multigroup.Portal.Models.Collection.VisitFilterVm
<div class="filter-container">
</div>

<!-- FIN TITULO-->
<div class="clearfix">
</div>
<div class="row">
	<div class="col-md-12 column">
		<div class="portlet light bordered">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-Customer"></i>
					<span class="caption-subject bold uppercase">Visitas</span>
				</div>
				<div class="actions">
					<div class="tooltipAai btn-group" id="idTooltipAai">
						<a class="btn btn-default bootstro" id="btnConfirmVisits" disabled="disabled" data-toggle="modal" data-target="#myModal">
							Confirmar Visita
						</a>
					</div>
                    <div class="tooltipAai btn-group" id="idTooltipAai2">
                        <a class="btn btn-default bootstro" id="btnCancelVisits" disabled="disabled" data-toggle="modal" data-target="#myModal2">
                            Cancelar Visita
                        </a>
                    </div>
					<a class="btn btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""></a>
				</div>
			</div>
			<div class="portlet-body form">
				<div class="form-actions top">
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<label class="control-label col-md-4">Fecha Desde:</label>
								<div class="col-md-8">
									<input type="text" class="form-control form-control-inline date-picker" id="txtDateFrom" placeholder="dd/mm/aaaa" />
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label class="control-label col-md-4">Fecha Hasta:</label>
								<div class="col-md-8">
									<input type="text" class="form-control form-control-inline date-picker" id="txtDateTo" placeholder="dd/mm/aaaa" />
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label class="control-label col-md-4">Zona:</label>
								<div class="col-md-8">
									@Html.ListBoxFor(m => m.SelectedZones, Model.ListZones, new { @multiple = "multiple" })
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<label class="control-label col-md-4">Cobrador:</label>
								<div class="col-md-8">
									@Html.ListBoxFor(m => m.SelectedCollector, Model.ListCollector, new { @multiple = "multiple" })
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label class="control-label col-md-4">Estado:</label>
								<div class="col-md-8">
									@Html.ListBoxFor(m => m.SelectedStatus, Model.ListStatus, new { @multiple = "multiple" })
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<div class="col-md-12">
									<button id="btnBuscar" class="btn btn-default">Buscar</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12" id="acciones">

					</div>
				</div>
			</div>
		</div>
		<div class="portlet portlet-sortable-empty">
		</div>
	</div>
</div>
<div id="myModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Cambiar Estado</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						Esta seguro que desea confirmar la visita?
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-pimary" data-dismiss="modal" id="GenerateVisit">Confimar</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>
<div id="myModal2" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Cambiar Estado</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        Esta seguro que desea cancelar la visita?
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-pimary" data-dismiss="modal" id="CancelVisit">Cancelar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function () {
	$(".date-picker").datepicker();
	$('select').multiselect({
		includeSelectAllOption: false,
		enableFiltering: true
	});
	$('#btnBuscar').click(function (event) {
		var params = new Object;
		params.Collectors = ($('#SelectedCollector').val() !== "") ? $('#SelectedCollector').val() : null;
		params.Zones = ($('#SelectedZones').val() !== "") ? $('#SelectedZones').val() : null;
		params.Status = ($('#SelectedStatus').val() !== "") ? $('#SelectedStatus').val() : null;
		params.DateFrom = $('#txtDateFrom').val();
		params.DateTo = $('#txtDateTo').val();
		CallBackGet(function (data) {
			$("#acciones").html(data);
		}, "/Visits/GetTable", params)
	});
});
</script>

