<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.3.1" targetFramework="net45" />
  <package id="Common.Logging.Core" version="3.3.1" targetFramework="net45" />
  <package id="ExcelDataReader" version="3.6.0" targetFramework="net45" />
  <package id="ExcelDataReader.DataSet" version="3.6.0" targetFramework="net45" />
  <package id="HtmlRenderer.Core" version="1.5.0.6" targetFramework="net45" />
  <package id="HtmlRenderer.PdfSharp" version="1.5.0.6" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.5" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.5" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebHelpers" version="3.2.4" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.5" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages.Data" version="3.2.4" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages.WebData" version="3.2.4" targetFramework="net45" />
  <package id="Microsoft.Owin" version="2.0.2" targetFramework="net45" />
  <package id="Microsoft.Owin.Security" version="2.0.0" targetFramework="net45" />
  <package id="Microsoft.Practices.EnterpriseLibrary.Common.dll" version="3.1.0" targetFramework="net45" />
  <package id="Microsoft.Practices.EnterpriseLibrary.Data.dll" version="3.1.0" targetFramework="net45" />
  <package id="Microsoft.Practices.ObjectBuilder.dll" version="3.1.0" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="PDFsharp" version="1.32.3057.0" targetFramework="net45" />
  <package id="Quartz" version="2.6.2" targetFramework="net45" />
  <package id="WebMatrix.WebData" version="2.0.30506.0" targetFramework="net45" />
</packages>