<!-- VISTA: Maintenance/Customer.cshtml -->
@model Multigroup.Portal.Models.Administration.EmployeeCAFilterVm
<div class="filter-container">
</div>


<!-- FIN TITULO-->
<div class="clearfix">
</div>
<div class="row">
    <div class="col-md-12 column">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-Customer"></i>
                    <span class="caption-subject bold uppercase">Cuenta Corriente Empleados</span>
                </div>
                <div class="actions">
                    <div class="tooltipAai btn-group" id="idTooltipAai">
                        <a class="btn btn-default bootstro" id="btnCA" disabled="disabled">
                            Ver Cuenta Corriente
                        </a>
                    </div>
                </div>
            </div>
                <div class="portlet-body form">
                    <div class="form-actions top">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Empleado:</label>
                                    <div class="col-md-8">
                                        @Html.ListBoxFor(m => m.SelectedProvider, Model.ListProvider, new { multiple = "multiple" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Saldo Desde:</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.BalanceFrom, new { @class = "form-control", @type = "number", @Value = "" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Saldo Hasta:</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.BalanceTo, new { @class = "form-control", @type = "number", @Value = "" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Solo con pagos Sin Imputar:</label>
                                    <div class="col-md-8" id="sandbox-container">
                                        @*<input type="checkbox" id="changePassword"/>*@
                                        @Html.CheckBoxFor(model => model.NotImput, new { @id = "NotImput", @checked = false })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <button id="btnBuscar" class="btn btn-default">Buscar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" id="acciones">

                        </div>
                    </div>
                </div>
            </div>
            <div class="portlet portlet-sortable-empty">
            </div>
        </div>
    </div>
<div id="modalCA" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" id="tableCA">

        </div>
    </div>
</div>
<!-- Note the missing multiple attribute! -->
<div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#NotImput').iCheck({
                checkboxClass: 'icheckbox_square-grey',
                radioClass: 'iradio_square-grey',
                increaseArea: '20%' // optional
            });

                $('select').multiselect({
                    includeSelectAllOption: true,
                    enableFiltering: false,
                });

                $('#SelectedProvider').multiselect({
                    includeSelectAllOption: true,
                    enableFiltering: false,
                });

                $('.tooltipAai').tooltip({
                    container: 'body',
                    title: "Seleccione un cliente"
                });
                $('.tooltipCustomer1').tooltip({
                    container: 'body',
                    title: 'Seleccione un cliente'
                });


                $('#btnBuscar').click(function (event) {
                    var params = {};
                    params.SelectedProvider = $('#SelectedProvider').val();
                    params.BalanceFrom = $('#BalanceFrom').val();
                    params.BalanceTo = $('#BalanceTo').val();
                    if ($('#NotImput').is(':checked') == true) {
                        params.NotImput = '1';
                    } else {
                        params.NotImput = '0';
                    }
                    CallBackGet(function (data) {
                        $("#acciones").html(data);
                    }, "/Employee/GetTableCurrentAccount", params)
                });

            });
    </script>
</div>

