<!-- COMIENZO TITULO-->
<div class="title-container">
    <h3 class="page-title">
        Sistema MG
    </h3>
</div>

<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="/">
                <i class="fa fa-home"></i>Home
            </a>
            <i class="fa fa-angle-right"></i>
        </li>
    </ul>
</div>

<!-- FIN TITULO-->
<div class="clearfix">
</div>
<div class="row" id="sortable_portlets">
        <div class="col-md-6 column sortable" id="mercadopago">
        </div>
        <div class="col-md-6 column sortable" id="mapa">
        </div>
</div>

    <script type="text/javascript">
$(document).ready(function () {
        if(@ViewBag.roleId == 1) {
            CallBackGet(function (data) {
                $("#mercadopago").html(data);
            }, "/Widget/MercadoPago", null)
            CallBackGet(function (data) {
                $("#mapa").html(data);
            }, "/Widget/Mapa", null)
        }
});
</script>