
<!-- VISTA: Maintenance/Heading.cshtml -->
@using Resources
@model Multigroup.Portal.Models.Maintenance.HeadingTableVm
<div class="filter-container">
</div>


<!-- FIN TITULO-->
<div class="clearfix">
</div>
<div class="row">
    <div class="col-md-12 column">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-Heading"></i>
                    <span class="caption-subject bold uppercase">Rubros</span>
                </div>
                <div class="actions">
                    <a class="btn btn-default" id="btnAddHeading">Añadir</a>
                    <div class="tooltipAai btn-group" id="idTooltipAai">
                        <a class="btn btn-default bootstro" id="btnEditHeading" disabled="disabled">
                            Editar
                        </a>
                    </div>
                    <a class="btn btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title="">
                    </a>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="row">
                    <div class="col-md-12" id="acciones">
                        <div class="form-group">
                            <table id="tabla_id" class="display table table-bordered table-striped table-condensed flip-content" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Nombre</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.HeadingList)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.HeadingId)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="portlet portlet-sortable-empty">
        </div>
    </div>
</div>
<!-- Note the missing multiple attribute! -->
<script type="text/javascript">
    $(document).ready(function () {
        $(document).ready(function () {
            $('#chkIncludedAll').iCheck({
                checkboxClass: 'icheckbox_square-grey',
                radioClass: 'iradio_square-grey',
                increaseArea: '20%' // optional
            });

            function formatTableToolsButton(node) {
                $(node).removeClass('DTTT_button');
                $(node).addClass('btn btn-default');
            }
            var table = $('#tabla_id').dataTable({
                "destroy": true,
                "aaSorting": [],
				"bServerSide": false,
				"buttons": [
					{ extend: 'copy', text: 'Copiar' },
					'csv',
					'excel',
					'pdf',
					{ extend: 'print', text: 'Imprimir' },
				],
				"lengthMenu": [[10, 50, 200, 500, -1], [10, 50, 200, 500, "Todos"]],
                "dom": 'Blfrtip',
                "sScrollYInner": "100%",
                "sScrollX": "100%",
                "sScrollXInner": "100%",
                "scrollCollapse": true,
                "bProcessing": false
            });

            $('#tabla_id tbody').unbind("click").on('click', 'tr', function (event) {
                event.stopPropagation();
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                    $("#btnVer").attr("disabled", "disabled");
                    $("#idTooltipHeading1").removeClass('tooltipAai');
                    $('#idTooltipHeading1').tooltip({
                        container: 'body',
                        title: 'Seleccione un rubro'
                    });
                    $("#btnEditHeading").attr("disabled", "disabled");
                    $("#idTooltipAai").removeClass('tooltipAai');
                    $('#idTooltipAai').tooltip({
                        container: 'body',
                        title: "Seleccione un rubro"
                    });
                }
                else {
                    $('#tabla_id tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                    $("#btnEditHeading").removeAttr("disabled", "disabled");
                    $("#idTooltipAai").tooltip('destroy');
                    $("#btnVer").removeAttr("disabled", "disabled");
                    $("#idTooltipHeading1").tooltip('destroy');
                    id = table.fnGetData(this)[0];
                }
            });
            $('.tooltipAai').tooltip({
                container: 'body',
                title: "Seleccione un cliente"
            });
            $('.tooltipHeading1').tooltip({
                container: 'body',
                title: 'Seleccione un cliente'
            });

            $('#btnEditHeading').click(function (event) {
                CallBackGet(function (data) {
                    $("#dashboard").html(data);
                }, "/Heading/Edit?id=" + id, null)
            });

            $('#btnAddHeading').click(function (event) {
                CallBackGet(function (data) {
                    $("#dashboard").html(data);
                }, "/Heading/Create", null)
            });

       });
    });
</script>

