<!-- VISTA: Maintenance/ContributionAllocation.cshtml -->
@model Multigroup.Portal.Models.Administration.ContributionAllocationFilterVm
<div class="clearfix">
</div>
<div class="row">
    <div class="col-md-12 column">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-ContributionAllocation"></i>
                    <span class="caption-subject bold uppercase">Asignación de Aportes</span>
                </div>
                <div class="actions">
                    <a class="btn btn-default" id="btnAddContributionAllocation">Añadir</a>
                    <div class="tooltipAai btn-group" id="idTooltipAai">
                        <a class="btn btn-default bootstro" id="btnViewContributionAllocation" disabled="disabled">
                            Ver
                        </a>
                    </div>
                    <div class="tooltipAai btn-group" id="idTooltipAai">
                        <a class="btn btn-default bootstro" id="btnEditContributionAllocation" disabled="disabled">
                            Editar
                        </a>
                    </div>
                    <a class="btn btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title="">
                    </a>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-4">Fecha Desde:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control form-control-inline date-picker" id="txtDateFrom" placeholder="dd/mm/aaaa" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-4">Fecha Hasta:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control form-control-inline date-picker" id="txtDateTo" placeholder="dd/mm/aaaa" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-4">Usuario Creador:</label>
                            <div class="col-md-8">
                                @Html.DropDownListFor(m => m.SelectedUser, Model.ListUser, new { @size = "2" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-4">Monto Desde:</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.AmountFrom, new { @class = "form-control", @type = "number", @Value = "" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-4">Monto Hasta:</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.AmountTo, new { @class = "form-control", @type = "number", @Value = "" })
                            </div>
                        </div>
                    </div>
                </div>               
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="col-md-12">
                                <button id="btnBuscar" class="btn btn-default">Buscar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="table">
                    <div class="col-md-12" id="acciones">

                    </div>
                </div>
            </div>
        </div>
        <div class="portlet portlet-sortable-empty">
        </div>
    </div>
</div>
<div class="modal fade" role="dialog" id="modalViewContributionAllocation">

</div>
<!-- Note the missing multiple attribute! -->
<script type="text/javascript">
    $(document).ready(function () {

        $('.date-picker').datepicker();
        $('select').multiselect({
            includeSelectAllOption: true,
            enableFiltering: false,
        });
        $('.tooltipAai').tooltip({
            container: 'body',
            title: "Seleccione un gasto"
        });
        $('.tooltipContributionAllocation1').tooltip({
            container: 'body',
            title: 'Seleccione un gasto'
        });
        $('#btnViewContributionAllocation').click(function (event) {
            CallBackGet(function (data) {
                $("#dashboard").html(data);
            }, "/ContributionAllocation/View?id=" + id, null)
        });

        $('#btnEditContributionAllocation').click(function (event) {
            CallBackGet(function (data) {
                $("#dashboard").html(data);
            }, "/ContributionAllocation/Edit?id=" + id, null)
        });

        $('#btnAddContributionAllocation').click(function (event) {
            CallBackGet(function (data) {
                $("#dashboard").html(data);
            }, "/ContributionAllocation/Create", null)
        });

        $('#btnBuscar').click(function (event) {
            var params = {};
            params.SelectedUser = $('#SelectedUser').val();
            params.AmountFrom = $('#AmountFrom').val();
            params.AmountTo = $('#AmountTo').val();;
            params.DateFrom = $('#txtDateFrom').val();
            params.DateTo = $('#txtDateTo').val();
            params.Receipt = $('#Receipt').val();
            CallBackGet(function (data) {
                $("#acciones").html(data);
            }, "/ContributionAllocation/GetTable", params)
        });      

    });
</script>

